extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About XternCoin
        p XternCoin is the newest cryptocurrency by Xtern! XternCoins make online purchasing fast and secure like never before. Sign up today to start earning FREE XternCoins! 
        p What makes XternCoins so secure? We've made it impossible for anyone to steal your XternCoins. The coins will be destroyed whenever you refresh, log out, or when your session expires! 
        p What does this mean? This means you should earn as many XternCoins as you can during your session and spend them as soon as possible!
        



        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started NOW
