extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Earn XternCoins
    p.lead Simply create an account and starting earning!
    
    
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started NOW
    

    


