extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Sorry! This feature isn't available yet!
        p XternCoin is a work in progress! We're working hard so that you can start earning and spending XternCoins very soon. Spending is not available yet, but keep checking back! 
        
        
